.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  
  .subheading {
    color: gray;
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 60px;
  }
  
  .card {
    text-align: left;
  }
  
  .card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
    object-fit: cover;
    height: 180px;
  }
  